[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
tox = "*"
pytest = "*"

[packages]
vk = "*"
requests = "*"
attrs = "*"
six = "*"
cached-property = "*"
"enum34" = "*"
more-itertools = "*"
arrow = "*"
vk-client = {editable = true, path = "."}

[requires]
python_version = "2.7"
